<div class="hero">
    <div class="container">
        <div class="main-heading">
            <h1 class="title">Welcome to Ivanti Marketplace</h1>
            <h2 class="subtitle">
                Explore <span>Marketplace</span> and make the most of your investment in <span>Ivanti</span> solutions.
                <br>
                Choose from Ivanti <span>Packages</span> to extend out-of-the-box capabilities. Find partner solutions
                tailored to solve your critical business needs. Use sample content to get you up and running faster, or
                as a starting point from which you customize to your needs. Tap into trusted third-party connectors that
                simplify your integration requirements.
                <br>
                <span>Deploy</span> new solutions that solve your business challenges faster with Ivanti.
            </h2>
        </div>
        <a routerLink="/store" class="btn-see-more">See more ···
        </a>
    </div>
</div>