<section class="cardSectionContainer">
    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 1">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Store</h3>
            </div>
            <p>Check out and browse our store! We are sure there are packages that suit each and every one of your needs. Try them out!</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 2">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Download</h3>
            </div>
            <p>Download the packages and play around with them! Something is not up to date with the package? Download the newer version!</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

    <div class="cardContainer">
        <div class="imageCardContainer">
            <img src='../../assets/images/ivanti2.png' alt="Card 3">
        </div>
        <div class="contentCardContainer">
            <div class="contentCardTitle">
                <h3>Review</h3>
            </div>
            <p>Everyone appreciates feedback on the packages you downloaded. Leave a star rating and improve the experience for everyone</p>
            <div class="contentCardButton">
                <button type="button" class="view-more">View More</button>
            </div>
        </div>
    </div>

</section>