<h1>Website Guide</h1>
<mat-horizontal-stepper linear>
    <mat-step label="Store">
        <h2>Explore the store with all it's features!</h2>
        <h3>Expolore packages, download them and use them. If you really like the package, you can
            always add it to your favourite package list.
        </h3>
        <img src="../../assets/images/fav_button.png" alt="">
        <h3>Before downloading the package read about it in the overview of the package. You should always
            check the system requirements before downloading to see if you have a good enough computer to
            use the package.
        </h3>
        <img src="../../assets/images/overview-sys-req.png" alt="">
        <h3>Don't like the package? Or maybe you really like it! Both are great for feedback, so use the review option
            to leave your opinion on every package you download. It gives other users a better view if the package is
            worth downloading
        </h3>
        <img width="1000px" height="270px" src="../../assets/images/rating.png" alt="">
        <h3>
            Don't like the new update of the package? Or maybe you want to switch to a newer version? Both is possible
            with
            the table of versions each package with more than 1 version has.
        </h3>
        <button class="next" mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>

    <mat-step label="Content Creator">
        <h2>Have a product ready to deploy? Add it to our store!</h2>
        <h3>To become a content creator just go to your profile page and request it. After that you will be able
            to upload packages and get the money from each purchase.
        </h3>
        <img src="../../assets/images/con_cre_button.png" alt="">
        <h3>Every content creator has authorization to manage his/her packages in the manage packages route. Here you
            can
            add, update and delete your own packages.
        </h3>
        <img src="../../assets/images/navbar.JPG" alt="">
        <!-- // -->
        <h3>Uploading a new package is easier than ever, just by clicking "Add New Package" and completing the necessary
            form.
        </h3>
        <img width="800px" height="270px" src="../../assets/images/add_package.png" alt="">
        <h3>Update your package anytime you want, by clicking this button from the page with your uploaded package.
        </h3>
        <img width="200px" height="30px" src="../../assets/images/update-button.png" alt="">
        <h3>Always improve! You have a new version of the package that you added? Click "Update Package Information" and
            complete the versions form.
        </h3>
        <img width="1000px" height="200px" src="../../assets/images/add_version.png" alt="">
        <button class="back" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
        <button class="next" mat-raised-button color="primary" mat-button matStepperNext>Next</button>
    </mat-step>

    <mat-step label="Step 3">
        <div class="step3">
            <h2>All done!</h2>
            <h3>Now it's time for you to get started. If you have any questions, contact us.
            </h3>
            <div class="socialMediaContainerIntro">
                <a href="https://www.facebook.com/GoIvanti/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/goivanti"><i class="fab fa-twitter"></i></a>
                <a href="https://www.linkedin.com/company/ivanti/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>

        <button class="back" mat-raised-button color="primary" mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-horizontal-stepper>