<div class="packageContainer">

    <div class="leftRow">
        <div class="packageImage">
            <img src="../../assets/images/package_img.png" alt="">
        </div>
        <div class="packageButton">
            <a routerLink="details/{{id}}">
                <button type="button" name="button">Manage Package</button>
            </a>
        </div>

    </div>

    <div class="rightRow">
        <div class="packageTitle">
            <h4>{{title}}</h4>
        </div>
        <div class="packageDescription">
            <p>{{intro}}</p>
        </div>

    </div>

</div>
