<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Ivanti</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a routerLink="/store">packages</a></li>
                    <li><a routerLink="/store">downloading packages</a></li>
                    <li><a routerLink="/store">using packages</a></li>
                    <li><a routerLink="/store">content creators</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>store</h4>
                <ul>
                    <li><a routerLink="/store">packages</a></li>
                    <li><a routerLink="/store">requirements</a></li>
                    <li><a routerLink="/store">setup</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/GoIvanti/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/goivanti"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/ivanti/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/ivanti/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>