<div class="wrapper">
    <div class="left">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d2/Crystal_Clear_kdm_user_female.svg" alt="user"
            width="100">
        <h4>Alexa William</h4>
    </div>
    <form #resetPassword="ngForm" (ngSubmit)="onResetPasswordCurrentUser(currentPassword.value, newPassword.value)">
        <div class="right">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Current Password</h4>
                        <input type="password" #currentPassword required [(ngModel)]="current"
                            placeholder="Type current password...">
                    </div>
                    <div class="data">
                        <h4>New Password</h4>
                        <input type="password" #newPassword required [(ngModel)]="new"
                            placeholder="Type new password...">
                    </div>

                </div>
            </div>

            <div class="social_media">
                <ul>
                    <button type="submit" mat-raised-button target="_blank">Reset Password</button>
                </ul>
            </div>
        </div>
    </form>

</div>